@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
  --gradientPrimary: linear-gradient(45deg, #003877 0%, #357afc 100%);
  --gradientPrimaryInverse: linear-gradient(45deg, #357afc 0%, #003877 100%);
  --primary: #258bff;
  --dark: rgb(33, 34, 49);
  --light: rgb(255, 255, 255);
  --accent: rgb(217, 4, 41);
  --accent-2: rgb(141, 153, 174);
  --success: rgb(76, 224, 109);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/*
 * === COMMON STYLES ===
 * Estilos en común entre varios elementos
*/
.wrapper {
  min-width: calc(100vw - 30px);
  max-width: calc(100vw - 30px);
  margin-left: auto;
  margin-right: auto;
}

/* === HEADER + NAVBAR === */
.header {
  width: 100%;
  height: 100vh;
  padding: 20px 30px 0 30px;
  background: #f4f4f4;
}
.header .menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
  background: #f4f4f4;
  transition: all 200ms ease-in-out;
}
.header .menu .logo {
  display: flex;
  align-items: center;
  height: 40px;
}
.header .menu .logo p {
  display: block;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 25px;
  color: #000;;
}
.header .menu .navbar {
    display: flex;
    align-items: center;
}
.header .menu .navbar li {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 2em;
  margin-bottom: 20px;
  margin-left: auto;
  cursor: pointer;
  padding-left: 0;
  transition: all 200ms ease-in-out;
  font-size: 1em;
  margin-bottom: 0;
  width: auto;
  height: auto;
  margin-left: 0;
  line-height: inherit;
  list-style: none;
  margin-left: 30px;
  padding-bottom: 6px;
  color: #000;
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
}

.header .menu .navbar a{
  text-decoration: none;
  color: #000;
}
.header .menu .navbar a:hover {
  color: #888BC4;
}

/* === HERO === */

.carrousel{
  width: 100%;
  position: relative;
  height: 715px;
}

img{
  width: 100%;
  height: 100%;
}

.botones{
  font-size: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.7);
  text-align: center;
  font-weight: bold;
  position: absolute;
  color: #f4f4f4;
  box-shadow: 0 0 10px rgba(255,255,255,.6);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.botones:hover{
  cursor: pointer;
  transform: scale(1.2,1.2);
}

.atras{
  left: 2%;
  top: calc(50% - 70px);
}

.adelante{
  right: 2%;
  top: calc(50% - 70px);
}

/* About Me */

.aboutme{
  background-color: #398ECD;
}

.aboutme h2{
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 70px;
  font-weight: normal;
  margin: 0;
  color: #06406c;
  font-family: 'Chelsea Market', Georgia, serif;
  text-transform: lowercase;
}

.aboutme .infogen{

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  width: 960px;
  margin: 40px auto;
  color: #000;
  line-height: 200%;
  color: #f4f4f4;

  padding-bottom: 40px;
  font-size: 20px;
}

.aboutme .titulo{
  color: #06406c;
  font-weight: bold;
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Experience */

.Experience{
  
  background-color: #4c0d09;
  color: #d3b2af;
}

.Experience .proyectos{
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.Experience .proyectos img{

  width: 250px;
  height: 300px;
  align-items: center;

}

.Experience h2{
  color: #d3b2af;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 70px;
  font-weight: normal;
  margin: 0;
  font-family: 'Chelsea Market', Georgia, serif;
  text-transform: lowercase;
}

/* Contact Me */

.contactMe{
  background-color: #cc4037;
  height: 510px;
}

.contactMe h2{
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 70px;
  font-weight: normal;
  margin: 0;
  color: #4c0d09;
  font-family: 'Chelsea Market', Georgia, serif;
  text-transform: lowercase;
}

.contactMe .nombre{
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  
}
.contactMe input{
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.contactMe .mensaje{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.contactMe .mensaje input{
  padding-top: 10px;
  padding-bottom: 40px;
  
}

.contactMe p{
  color: #4c0d09;
  text-align: center;

  padding-bottom: 40px;
  font-size: 20px;
  font-family: 'Chelsea Market', Georgia, serif;
}

.contactMe .email{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.contactMe .boton{
  text-align: center;
}

/* Skills */
.skills{
  height: 500px;
  background-color: #fff8c9;
  color: #615400;
}